<!DOCTYPE html>
<html lang="en">

<head>

<!--BASIC HTML-->   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Opgaver</title>
 
<!--LINKS-->    
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="css/style.css">

<!--SCRIPTS-->    
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <script defer src="../js/bulma.js"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="../public/javascripts/scripts.js" ></script>
   
    
</head>

<body>
    <!-- nav bar -->
    <%- include('navbar') %>

  
  
      <!-- opgavebox -->
    <section class="section">
     <div class="container has-text-centered">
        <div class="box">
                     
             <div class="content">
                        <h1>Opgavenummer <%= opgave_ID %> </h1>
                <div class="content" >
                        <p>Opgave beskrivelse</p>
                        <p><%= opgavebeskrivelse %> <%= forventet_svar %> </p> 
                    
                    <div class="content">
                        <div class="field columns is-centered" style="padding: 2rem ">
                    
                    <div class="control">

                            <form method="POST" action=<%= "/opgaver/sendA/" + opgave_ID %>> 
                                <input class="input is-primary" type="text" placeholder="Indtast dit svar" name="svar">
                                <input type="hidden" name="forventet_svar" value= <%= forventet_svar %> >
                                <input id="hintID" type="hidden" name="hint_point" value="hintklik" >
                                <input id="currentTime" type="hidden" name="tidbrugt" value="tid" >
                                <input type="hidden" name="forventet_tid" value= <%= forventet_tid %> >
                               
                                
                        </div>
                                <button class="button is-primary is-hovered" type="submit" onclick="ikkehint(); startStopFunc()"> Indsend Svar</button>
                            </form>


                        </div>
                          
                    </div>
                 </div>
             </div>


                   <div class="columns is-mobile">
                    <div class="column is-half is-offset-one-quarter is-size-2" ><p id="Countdown" style="display: inline;"> </p> <p style="display: inline;">/ <%= forventet_tid %></p> </div> <p id = "currentTime"> </p>
                    <div class="column is-4 is-offset-two-quarter is-size-2"> 

                    <form method="GET" action=<%= "/opgaver/" + (opgave_ID - 1) %>> <button type="submit" class="button is-primary">Tilbage</button> </form>  
                    <form method="GET" action=<%= "/opgaver/" + (opgave_ID + 1) %>> <button type="submit" class="button is-primary">Næste</button> </form> 
                   
                  </div>

         </div>
     </div>


         <div class="box is-centered has-text-centered is-size-2" style="padding: 2rem">
            <p>Hint til opgave <%= opgave_ID %>  </p>
            <br>
              

            
            <button id="hintKnappen" class="button is-warning is-hovered" > Brug for et hint? </button>
                   
               <div id="hintDiv" style="display:none" >
                <p><%= hintforklaring %> </p>          
               </div>
          
        </div>


    </section>

</body>

</html>