<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


    <title>Band Template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="/public/stylesheet/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>

<body>
    <!-- nav bar -->
    <%- include('navbar')  %>

<!--Oversigts body-->

<section class="hero ">
    <div class="hero-body">
        <div class="container has-text-centered is-centered">

            
            <div class="columns is-gapless is-multiline is-mobile">
                <br>
                
                <p class=" column has-text-centered ">
                    <a class="button is-medium  column has-text-black ">
                        <b> <%= klasse_navn %> Matematik </b> /m <%= laerer_navn %> <%= laerer_efternavn %>
                    </a>
                </p>
                <p class="column has-text-centered ">
                    <a class="button is-medium  column has-text-black ">
                        <b> Lærer Email: </b> <%= laerer_email %> 
                    </a>
                </p>
              
            </div>
            <div class="columns is-gapless is-multiline is-mobile">
                <br>
                
                <p class=" column has-text-centered ">
                    <a class="button is-medium  column has-text-black ">
                     <b> Navn: </b> <%= elev_navn %> <%= elev_efternavn %>
                    </a>
                </p>
                <p class="column has-text-centered ">
                    <a class="button is-medium column has-text-black ">
                        <b> Email:</b> <%= elev_email %>  
                    </a>
                </p>
                <p class="column has-text-centered ">
                    <a class="button is-medium column has-text-black ">
                        <b> Tlf: </b> <%= laerer_telefonnummer %> 
                    </a>
                </p>
                <p class="column has-text-centered ">
                    <a class="button is-medium column has-text-black ">
                        <b> Forældre: </b> Viggo og Tanja
                    </a>
                </p>
                
            </div>


            <div class="columns">
                <div class="container">
                    <canvas id="myChart"></canvas>  
                  </div>
                
                  <script>
                      let myChart = document.getElementById('myChart').getContext('2d');
                
                        Chart.defaults.global.defaultFontFamily = 'Lato';
                        Chart.defaults.global.defaultFontSize = 18;
                        Chart.defaults.global.defaultFontColor = '#777';
                
                      let studentChart = new Chart(myChart, {
                          type:'bar',
                          data: {
                            labels:['Addition','Subtraktion','Division','Mulitiplikation'],
                            datasets:[{
                                label:'Rigtige Svar',
                                data:[
                                   "<%= gp_add %>",
                                   "<%= gp_sub %>",
                                   "<%= gp_div %>",
                                   "<%= gp_mul %>",
                                    0
                                ],
                                backgroundColor:'rgba(0, 999, 0, 0.3)',
                                borderWidth:1,
                                borderColor:'#777',
                                hoverBorderWidth:3,
                                hoverBorderColor:'#000'
                            },
                            {
                                label:'Forkerte Svar',
                                data:[
                                    0,
                                    0,
                                    0,
                                    0,
                                    0
                                ],
                                backgroundColor:'rgba(999, 0, 0, 0.3)',
                                borderWidth:1,
                                borderColor:'#777',
                                hoverBorderWidth:3,
                                hoverBorderColor:'#000'
                
                            }]
                
                          },
                          options: {
                            title:{
                              display:true,
                              text:'Oversigt over <%= elev_navn %> <%= elev_efternavn %>s matematiske færdigheder',
                              fontSize:25
                            },
                            legend:{
                              position:'right',
                              labels:{
                                  fontColor:'#000'
                              }
                            },
                            layout:{
                                padding:{
                                    left:50,
                                    right:0,
                                    bottom:0,
                                    top:0
                                }
                            },
                            tooltips:{
                              enabled:true
                            }
                          }
                      });
                  </script>



            </div>


                <div class="columns is-gapless is-multiline is-mobile">
                    <br>
                    <p class="column has-text-centered ">
                        <a class="button is-medium is-danger ">
                          Gennemsnitskarakter: 7/10
                        </a>
                    </p>


                    <p class="column has-text-centered ">
                        <a class="button is-medium is-warning ">
                           Se alle besvarelser
                        </a>
                    </p>


                    <p class=" column has-text-centered ">
                        <a class="button is-medium is-info column ">
                           Addition
                        </a>
                    </p>
                    <p class="column has-text-centered ">
                        <a class="button is-medium is-info column">
                            Subtraktion
                        </a>
                    </p>
                    <p class="column has-text-centered ">
                        <a class="button is-medium is-info column ">
                           Multiplikation
                        </a>
                    </p>
                    <p class="column has-text-centered ">
                        <a class="button is-medium is-info column ">
                            Division
                        </a>
                    </p>
            
                </div>
        </div>
    </div>

 
</section>
<script src="../js/bulma.js"></script>


</body>